 .about{
  @include content-grid;
  // grid-template-rows: repeat(3, );
  font-family: $font-display;
  font-size: 1.5rem;

  
  &__about{
    // grid-column:
  }

  &__item--1{
    grid-column: 3/5;
  }

  &__item--2{
    grid-column: 5/7;
  }

  &__item--3{
    grid-column: 3/5;
    grid-row: 2/3;
  }

  &__item--4{
    grid-column: 5/7;
    grid-row: 2/3;
  }
 }