//color variables 
$primary-color: #5085a5;
$secondary-color:  #8fc1e3;

$light-grey-1: #f9f7f6;
$light-grey-2: #aaa;

$dark-grey-1: #54483A;
$dark-grey-2: #6D5D4B;

//font variables 
$primary-font: "Ubuntu", sans-serif;
$secondary-font: 'Josefin sans', sans-serif;

//mixin grid for all content
@mixin content_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px =62.5% -> 1rem = 10px
}

body{
  font-family: $primary-font;
  color: $dark-grey-2;
  font-weight: 300;
  line-height: 1.6;
  color: black;
  padding: 30px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.grid{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 3rem;
}

main{
  grid-column: 1/-1;
  grid-row: 3/4;
}