// COLOR VARIABLES
$primary-color: #5085a5;
$secondary-color:  #8fc1e3;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;


// FONT VARIABLES
$primary-font: 'Raleway', sans-serif;

//global mixins
@mixin content-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5rem;
}


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px =62.5% -> 1rem = 10px
}

body{
  font-family: $primary-font;
  font-weight: 300;
  line-height: 1.5;
  background-color: $color-grey-light-2;
  color: white;
}

.grid{
  display: grid;
  grid-template-columns: 1fr [content-start] repeat(8, minmax(min-content, 14rem))[content-end] 1fr;
  grid-template-rows: repeat(4, 20vh);
}