.contact{
  background-color: $primary-color;
  grid-column: 2/3;
  @include content_grid;
  grid-template-rows: repeat(2, minmax(25rem, 40vh));
  display: grid;


  &__item{
    
  }
}

.find{
  grid-column: 3/4;
}