ng-include{
  grid-column:1/-1;
}

.header{
  background-color: $secondary-color;
  @include content_grid;
  grid-template-rows: repeat(auto-fit, min-max(25rem, 1fr));
  grid-gap:2rem;
}
.wellness{
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  font-size: 5rem;
  color: black;
}

.info{
  grid-column: 1/-1;
  grid-row: 2/3;
  font-size: 3rem;
  color: black;
  justify-self: center;
}


.nav{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  grid-column: 1/-1;
  grid-row: 3/4;
  text-decoration: none;
  color: black;
  justify-self: center;
  align-self: center;
  // display: grid;
  // grid-template-columns: repeat(6, 1fr);
  font-size: 3rem;
}

 a{
  text-decoration: none;
  color: black;
  margin: 4.5rem;
}