.nav{
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(max-content, 1fr)) 1fr;
  grid-template-rows: 4rem;
  background-color: rgba(223, 230, 233,.3);

  &__item{
    text-decoration: none;
    color: white;
    z-index: 1; 
    font-size: 2rem;
    justify-self: center;
    align-self: center;
    transition: all 1s;

    &__item:hover{
      color: #95A5A6;
    }


    &--1{
      grid-column: 2/3;
    }

    &--2{
      grid-column: 3/4;

    }

    &--3{
      grid-column: 4/5;

    }

    &--4{
      grid-column: 5/6;
    }

    &--5{
      grid-column: 6/7;

    }

    &--6:link,
    &--6:visited{
      grid-column: 7/8;
      border: 1px solid white;
      border-radius: 2rem;
      padding: 0 1rem 0 1rem ;
      background-color: rgba(#6ca4f7, .5);
      transition: all 1s;
    }

    &--6:hover,
    &--6:active{
      background-color: #6ca4f7
    }
  }
}

.background{
  background-color: rgba(255,255,255,.5);
}