<div class="about">
  <h3 class="about__item about__header">About</h3>

  <p class="about__item--1">I have been studying and expanding my skills to serve my fellow man. Since 2013, in addition to my private practice, I have established a practice in the medical and clinical therapy segment of our community.</p>

  <p class="about__item--2">I work with the patients and clients of the following doctors and clinical therapists:for appointments call <a href="tel:+1-630-235-7641">630-235-7641</a></p>


<p class="about__item--3">Jennifer Froemel,  LPCP Innovative Counseling Partners Hinsdale, OakPark, Illinois. http://innovativecounselingpartners.com/greg-zera/ Reiki and Akashic Record Consultations. <a href="tel:+1-630-235-7641">630-235-7641</a></p>


<p class="about__item--4">Dr. Kyrie Kleinfelter 1st Place Chiropractic, 1750 E. Main St.

St. Charles , Illinois http://www.1stplacechiropractic.com/           Reiki <a href="tel:+1-630-235-7641">630-235-7641</a></p>


<p class="about__item--5">SoderWorld, Healing Arts Center & Academy 16W501 Nielson Ln. Willobrook Illinois www.soderwolrdwellness.com.        Akashic Record Consultations on Mondays 1:30pm to 7:30pm. <a href="tel:+1-630-455-5885">630-455-5885​</a>​</p>

 

<p class="about__item">I am a member of The Reiki Share Project and serve on their Advisory Council.  With them I enjoy volunteering at the Wellness House, a cancer patient support organization, in Hinsdale Illinois. I am also honored and privledged to be able to give Reiki to our veterans through the VA as a volunteer for The Reiki Brigade.</p>


</p>
</div>