<div class="contact">
  <form action="">
    <h2 class="contact__item">Send me an email</h2>
    <input class="contact__item" placeholder="Name" type="text">
    <input class="contact__item" type="email" placeholder="example@aol.com">
    <input class="contact__item" type="text" placeholder="Subject">
    <textarea placeholder="Message" class="contact__item" name="" id="" cols="30" rows="10"></textarea>
    <button>Submit</button>
  </form>
</div>

<div class="find">
  <h2>Where to find me</h2>
  <p>Jennifer Froemel,  LPCP Innovative Counseling Partners Hinsdale, OakPark, Illinois. http://innovativecounselingpartners.com/greg-zera/
<a href="tel:+1-630-235-7641"></a>1-630-235-7641</p>

<p>Dr. Kyrie Kleinfelter 1st Place Chiropractic,1750 E. Main St. St. Charles , Illinois http://www.1stplacechiropractic.com

<a href="tel:+1-630-235-7641"></a>1-630-235-7641</p>

<p>SoderWorld, Healing Arts Center & Academy 16W501 Nielson Ln. Willobrook Illinois www.soderwolrdwellness.com.

<a href="tel:+1-630-455-5885">1-630-455-5885</a></p>

<p>gregzera@wellnessisnowyours.com

gzera.reiki@gmail.com

<a href="tel:+1-630-235-7641">1-630-235-7641</a></p> 
</div>