  <h1 class="header__header">Wellness Is Now Yours</h1>

  
  <h4 class="header__info">Reiki, Akashic Records, Singing Bowl Vibration Therapy, Qigong </h4>
  <a class="header__info header__phone" id="phone" href="tel: +1-630-235-7641">(630) 235-7641</a>
 
  <div class="nav">
    <a href="/#!/home">Home</a>
    <a href="/#!/about">About us</a>
    <a href="/#!/events">Events</a>
    <a href="/#!/contact">Contact</a>
    <a href="/#!/services">Services</a>
    <a href="/#!/testimonial">Testimonials</a>
  </div>