<div class="header">
  <div class="wellness">
    <h1>Wellness Is Now Yours</h1>
  </div>

  <div class="info">
    <h4 class="info__item info__item--1">Reiki, Akashic Records, Singing Bowl Vibration Therapy, Qigong </h4>
    <a class="info__item info__item--2" href="tel: +1-630-235-7641">(630) 235-7641</a>
  </div>

  <div class="nav">
    <a class="nav__item--1" href="/#!/home">Home</a>
    <a class="nav__item--2" href="/#!/about">About us</a>
    <a class="nav__item--3" href="/#!/events">Events</a>
    <a class="nav__item--4" href="/#!/contact">Contact</a>
    <a class="nav__item--5" href="/#!/services">Services</a>
    <a class="nav__item--6" href="/#!/testimonial">Testimonials</a>
  </div>
</div>