<div class="header">
  <div class="wellness">
    <h1>Wellness Is Now Yours</h1>
  </div>

  <div class="info">
    <h4 class="info__item info__item--1">Reiki, Akashic Records, Singing Bowl Vibration Therapy, Qigong </h4>
    <a class="info__item info__item--2" href="tel: +1-630-235-7641">(630) 235-7641</a>
  </div>

  <div class="nav">
    <a href="/#!/home">Home</a>
    <a href="/#!/about">About us</a>
    <a href="/#!/events">Events</a>
    <a href="/#!/contact">Contact</a>
    <a href="/#!/services">Services</a>
    <a href="/#!/testimonial">Testimonials</a>
  </div>
</div>