<div class="home">
  <h3 class="home__item home__item--1">Welcome!</h3>
  <img class="home__item home__item--2" src="../img/gregbowls.jpg" alt="Greg Zera conducting a singing bowl vibration therapy session">
  <p class="home__item home__item--3">Thank you for visiting my website. I'm Greg Zera, an accomplished Usui and Karuna(R) Reiki Master Teacher, Akashic Record Consultant(ARCI), Certified Vibration Sound Therapy Practioner, Certified QiGong Instructor and Crystalline Consciousness Technique Practioner. 
  </p> 


  <p class="home__item home__item--4">I teach classes in Usui and Karuna Reiki(R) Levels I, II, Master, and Master Teacher. In the near future, I will be teaching Akashic Record Consultation with Akashic Record Consultants International. For  more information call <a href="tel:+1-630-235-7641">630-235-7641</a>
  </p>
</div>