<div class="services">
  <h2 class="services__item">Reiki</h2>
  <p class="services__item">Reiki is a complimentary, holistic healing practice that gently supports the body’s natural ability to heal itself. It promotes an overall well being and relaxation. Reiki’s origins are Japanese and the word means “universal life force energy”. Reiki is Divine healing energy.</p>
  <p class="services__item">I offer 30, 60, and 90 minute sessions</p>


  <h2 class="services__item">Akashic Record Consultations</h2>
  <p class="services__item">The Akashic Records is described as a library that contains the entire history of your soul, as well as every aspect of who you are now and all the potentials for your future. The Records consciously connect us to the clear truth of our soul, allowing us the freedom to choose grace in all things.

  Have you ever felt as if there was more that you should know or feel about yourself?  I can provide you with the wisdom to get the answers to those questions. </p>
  <p class="services__item">I offer 60 and 90 minute consultations. Telephone or in person. consultations recorded with client permission</p>


  <h2 class="services__item">Singing bowl vibration sound therapy</h2>
  <p class="services__item">Singing Bowl Vibration Therapyreduces stress, releases physical and emotional blockages, triggers the body’s self healing mechanisms, allows for deeper sleep, provides relief from headaches, and promotes an overall sense of well being</p>
  <p class="services__item">I offer 60 and 90 minute sessions. Bowls are strategically placed on the body</p>


  <h2 class="services__item">Qigong</h2>
  <p class="services__item">QIGONGis a holistic system with Chinese roots. It uses coordinated body posture, movement, breathing, and meditation to promote health, spirituality, and martial arts training. </p>
  <p class="services__item">I offer 45 and 60 minute sessions individually or in group sessions</p>


  <h2 class="services__item">Crystalline Consciousness Technique™</h2>
  <p class="services__item">Crystalline Consciousness Technique™ recognizes that intent is an energy field that is responsive by nature. During a CCT session you intentionally and actively interface with this field of energy or matrix which influences, alters, shapes, modifies and creates the information fields and patterns that organize and shape your reality. Because our planet is one of free will and choice the more you consciously work with intention the more you are an active participant in your own evolution and expansion</p>
  <p class="services__item">I offer 60 and 90 minute sessions are avliable</p>

</div>