<div class="testimonial">

  <h2 class="testimonial__item testimonial__item--1" >Sue and Vern K. Lombard Illinois</h2>
  <p class="testimonial__item">Greg's caring nature, professionalism and extensive knowledge of sound healing is evident. Both my husband and myself have had 3 singing bowl sessions with Greg. We each agree that not only is it incredibly relaxing, it leaves us feeling grounded and centered and the effects last for days afterwards.</p>

  <hr>

  <h2 class="testimonial__item testimonial__item--2">Garry R.</h2>
  <p class="testimonial__item">Hi Greg

  I justwanted to drop you a short note after my most recent Reiki sessions to share with you what a wonderful, positive experience it was.  It’s difficult for me to put my experience into words other than to state that after the sessions I felt “centered”; emotionally relaxed; and generally, in a much better place.  And your personal feedback and reflections after the session were outstanding as they were relevant and really hit home with me and helped with my self-reflections.

  Thanks again and keep up the great work.  Look forward to seeing you again soon!
  </p>

  <hr>

  <h2 class="testimonial__item testimonial__item--3">Jennifer Styblo

    attorney, certified hypnotist, reiki master and certified CCT practitioner</h2>
  <p class="testimonial__item">
    Greg has an amazing spirit, and wonderful energy.  His connection with Spirit gives him clear and helpful guidance for his clients, and he often has messages from Spirit for clients even when they have chosen a healing modality that does not traditionally involve "tuning in."  He is a gifted holistic healer who is heart-centered and brimming with love and light.  I implicitly trust Greg and his work, and anticipate working with him for a long time to come.  I whole-heartedly, unreservedly recommend Greg Zera using any healing modality he chooses to add to his toolbox.  I predict you will not be disappointed if you give Greg the opportunity to help you.
  </p>

  <hr>

  <h2 class="testimonial__item testimonial__item--4">Laura A.</h2>
  <p class="testimonial__item">While I consider myself to be open-minded I was a little skeptical about getting an Akashic Record Reading. But, because Greg was recommended by a trusted friend, I decided to give it a try and I am so glad I did. After my reading, I was blown away at how insightful the answers I got were. The information I gained, not only helped me understand my relationships with close friends and family more, but I left with a greater understanding of my purpose and direction in life. I now highly recommend Greg to those open to getting guidance or a clearer focus for their future.
  </p>
</div>